[submodule "dot-vim"]
	path = dot-vim
	url = https://github.com/binarycleric/dot-vim
[submodule "dot-tmux"]
	path = dot-tmux
	url = https://github.com/binarycleric/dot-tmux
[submodule "dot-lein"]
	path = dot-lein
	url = https://github.com/binarycleric/dot-lein
[submodule "dot-zshrc"]
	path = dot-zshrc
	url = https://github.com/binarycleric/dot-zshrc
[submodule "dot-git"]
	path = dot-git
	url = https://github.com/binarycleric/dot-git.git
